.block-list .block-entry {
    border: 2px solid black;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.block-list .block-entry .description {
    font-weight: normal;
    color: darkgray;
}

.block-list .block-entry:hover {
    border-color: white;
}

.config-loading,
.log-loading {
    display: none;

    text: center;
    font-size: 33px;
    margin-top: 30px;
}

.config-form,
.log-wrapper {
    display: none;
}

.log-wrapper pre.logs {
    background: whitesmoke;
    border: 1px solid black;
    padding: 4px 8px;
    height: 30vh;
    overflow-y: auto;
    max-width: 80vw;
    white-space: break-space;
}
