* {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

html, body {
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}


div.content {
    padding: 20px;
    flex-wrap: wrap;
}

div.server {
    margin:10px;
    flex: 1;
    min-width: min(400px, 100%);
}

a {
    color:white;
}

div.appHeader {
    display: flex;
}


div.dataContainer{
    flex-grow: 1;
    margin: 10px;
    display: inline-block;
}

div.dataTile {
    height:24px;
    line-height: 24px;
    vertical-align: middle;
}

div.dataTile .label {
    width: 70px;
    display: inline-block;
    font-weight: bold;
}

div.dataTile .data {
    width: calc(100% - 90px);
    display: inline-block;
}

div.appHeader .icon {
    display: inline-block;
    height: 72px;
    padding: 5px;
}

.status.online {
    color: green;
    font-weight: bold;
}

.status.offline {
    color: red;
    font-weight: bold;
}

button:disabled {
    background: #eee !important;
}
