#modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:1000000;
}

#modal-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(100, 100, 100, 0.6);
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    min-width: 40%;
    min-height: 50px;
}

#modal-title {
    display:flex;
}

#modal-title span {
    flex-grow:1;
}
