#resource-monitor {
    margin: 20px;
    color: black;
}

#resource-monitor div.item {
    display: flex;
}

#resource-monitor div.label {
    flex-shrink: 0;
    width:10%;
    text-align: center;

}

#resource-monitor div.data {
    flex-grow: 1;
}

#resource-monitor .core {
    width: 25%;
    min-width: 150px;
    display: inline-flex;
}
#resource-monitor .core .key {
    font-weight: bold;
    width: 60px;
    text-align: center;
}
#resource-monitor .core .progress {
    flex-grow: 1;
}

#resource-monitor .intf > * {
    display: inline-block;
    width: 150px;
}

#resource-monitor .intf > strong {
    width: 80px;
}

#resource-monitor .mnt {
    display: flex;
}

#resource-monitor .mnt .key {
    font-weight: bold;
    width: 60px;
}
#resource-monitor .mnt .progress {
    flex-grow: 1;
}

#resource-monitor .progress {
    position: relative;
    border: 1px solid white;

    margin: 2px;
    height: 32px;
    line-height:28px;
    vertical-align: middle;

    font-weight: bold !important;
    color:black;
}

#resource-monitor .progress .progress-bar {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width: 0;
}

#resource-monitor .progress .progress-bar .value {
    color: black;
}

#resource-monitor .progress .value {
    position: absolute;
    top:0;
    bottom:0;
    left:0;

    color: black;
    padding: 2px 4px;
}

