{{ define "partials/header.html" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Test Thing</title>

            <link rel="stylesheet" href="/assets/css/header.css" />
            <link rel="stylesheet" href="/assets/css/main.css" />
            <script src="/assets/js/main.js"></script>
            <script src="/assets/js/cssUpdater.js"></script>
        </head>
        <body>
            <header>
                <div class="title">
                    > Game Controller v.01a - idatgaming 
                </div>

                    <nav>
                        <ul>
                            {{ if .user }}
                                <li>
                                    <a href="/users/passwd">
                                        <strong>{{ .user.Name }}</strong>
                                    </a>
                                </li>
                                {{ if user.Root }}
                                    <li>
                                        <a href="/users">Users</a>
                                    </li>
                                {{ end }}
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                            {{ else }}
                                <li>
                                    <strong>Guest</strong>
                                </li>
                            {{ end }}
                        </ul>
                    </nav>
            </header>

            <main>
{{ end }}
