<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test Thing</title>

        <link rel="stylesheet" href="/assets/css/public.css" />
    </head>
    <body>
        <!-- Hello, {{ .world }}
        <h2>Counter</h2>
        <ul>
            {{ range .counter }}
                <li>{{ . }}</li>
            {{ end }}
        </ul> -->
        <div class="titleBar">
            > Game Controller v.01a - idatgaming 
        </div>
        <div class="bodyTitle">> Main Controls</div>
        <div class="body">
            <div class="serverStatus">
                <!-- Inject Server Title/ Name Here -->
                <div class="serverTitle"> Minecraft</div>
                <div class="dataTile" id="Status">Status  :  Online</div>
                <div class="dataTile" id="players">Players :  0/0</div>
                <div class="dataTile" id="uptime">Uptime  :  0s</div>
                <div class="controls">
                    <div class="controller" id="startStop">Stop</div>
                    <div class="controller" id="restart">Restart</div>
                    <div class="controller" id="config">Config</div>

                </div>
            </div>

            <div class="serverStatus">
                <!-- Inject Server Title/ Name Here -->
                <div class="serverTitle"> Minecraft</div>
                <div class="dataTile" id="Status">Status  :  Online</div>
                <div class="dataTile" id="players">Players :  0/0</div>
                <div class="dataTile" id="uptime">Uptime  :  0s</div>
                <div class="controls">
                    <div class="controller" id="startStop">Stop</div>
                    <div class="controller" id="restart">Restart</div>
                    <div class="controller" id="config">Config</div>

                </div>
            </div>
                        <!-- This Is  A Test Remove Me Later -->
        </div>
    </body>
</html>
