{{ define "content" }}
<div class="bodyTitle">> Main Controls</div>
<div class="body">
    {{ range $key, $app := .apps }}
        <div 
            class="serverStatus" 
            data-key="{{ $key }}" 
            data-config="{{ json $app.ConfigFiles }}"
        >
            <div class="serverTitle">> {{ $app.Title }}</div>

            <div class="dataContainer">
                <div class="dataTile statusLabel">Status  :</div>  
                <div class="dataTile status"> Fixme</div>

                <div class="dataTile playersLabel">Players :</div>  
                <div class="dataTile players" > 
                Fixme/Fixme
                </div>

                <div class="dataTile uptimeLabel">Uptime  :</div>  
                <div class="dataTile uptime"> fixme</div>

            </div>
            <img class="icon" src="{{ $app.Icon }}">
            <div class="controls">
                <div class="controller startStop">Stop</div>
                <div class="controller restart">Restart</div>
                <div class="controller config">Config</div>
                <div class="controller logs">[Test]</div>
            </div>
        </div>
        <script type="module">
            import AppConfig from '/assets/js/app-config.js';

            new AppConfig('{{ $app.Title }}', '{{ $key }}');
        </script>
        <script>update_css()</script>
    {{ end }}

    <div class="clearfix"></div>

    <!-- Begin Test -->
    <script type="module">
        import Modal from "/assets/js/modal.js";
        let source;

        const modal = new Modal({
            title: "Log Test",
            content: `<pre class="logs" style="max-height:50vh;overflow:auto;"></pre>`,
            onOpen: function() {
                let $logs = modal.$body.querySelector(".logs");

                source = new EventSource("/api/apps/minecraft/logs/server.sh");
                source.addEventListener("message", e => {
                    console.log("got data");
                    $logs.innerHTML += e.data
                }, false);
            },
            onClose: function() {
                source.close();
            }
        });

        document.querySelector(".controller.logs").onclick =  modal.open.bind(modal);
    </script>

    <!-- End Test -->
</div>


{{ end }}
