{{ define "content" }}
<div class="bodyTitle">&gt; Login</div>
<div class="body">
    <form action="" method="post">
        {{ if .error }}
            <div class="error">{{ .error }}</div>
        {{ end }}

        <div class="field">
            <label for="username">Username:</label>
            <input name="username" id="username" type="text" value="{{ .input.Username }}" />
        </div>
        <div class="field">
            <label for="passwd">Password:</label>
            <input name="passwd" id="passwd" type="password" value="" />
        </div>
        <div class="group">
            <input type="submit" value="Login" />
        </div>
    </form>
</div>
{{ end }}
