{{ define "content" }}
<div class="container content">
    <div class="card">
        <div class="card-header">Create User</div>
        <div class="card-body">
            <form action="" method="post">
                {{ if .errorString }}
                    <div class="alert-error">{{ .errorString }}</div>
                {{ end }}

                <div class="mb-3">
                    <label class="form-label" for="username">Username:</label>
                    <input class="form-control" name="username" id="username" value="{{ .input.Username }}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="passwd">Password:</label>
                    <input class="form-control" name="passwd" id="passwd" type="password" value="" />
                </div>
                <div class="mb-3">
                    <input class="btn btn-secondary" type="submit" value="Create User" />
                </div>
            </form>
        </div>
    </div>
</div>
{{ end }}
