{{ define "content" }}
<div class="container content">
    <div class="card">
        <div class="card-header">Users</div>
        <div class="card-body">
            {{ if $.user.Root }}
                <a href="/users/create">
                    <button class="btn btn-secondary">Create User</button>
                </a>
            {{ end }}

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Root Admin</th>
                        {{ if .user.Root }}
                            <th>&nbsp;</th>
                        {{ end }}
                    </tr>
                </thead>

                <tbody>
                    {{ range .users }}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>{{ .Name }}</td>
                            <td>
                                {{ if .Root }}
                                    True
                                {{ else }}
                                    False
                                {{ end }}
                            </td>
                            {{ if $.user.Root }}
                                <td>
                                    <a class="btn btn-secondary" href="/users/{{ .ID }}">Edit</a>
                                </td>
                            {{ end }}
                        </tr>
                    {{ else }}
                        <tr>
                            <td colspan="10">
                                <div class="alert-error">
                                    There are no users to display at this time
                                </div>
                            </td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}
