form {
    width: 450px;
    margin: 20px auto;

    text-align: center;
}

form .field {
    display: flex;
    flex-direction: column;
    text-align: left;

    padding-bottom: 8px;
}

form .group {
    display: flex;
    flex-direction: row;
    
    justify-content: right;

    padding-bottom: 8px;
}

form .field label {
    margin-bottom: 2px;
    font-weight: bold;
}

form .field input {
}

form .field input:not([type]),
form .field input[type=text],
form .field input[type=password],
form .field input[type=email],
form .field input[type=number] {
    padding: 4px 8px;
}

form .group input[type=button],
form .group input[type=submit] {
    border: 1px solid black;
    border-radius: 0;
    padding: 4px 8px;

    font-weight: bold;
    cursor: pointer;
}
