#resource-monitor .data {
    border: 2px solid black;
}

#resource-monitor .data td,
#resource-monitor .data th {
    background-color: white;
    padding: 4px;
    margin: 4px;
}

#resource-monitor .core {
    width: calc(25% - 4px);
    min-width: 150px;
    display: inline-flex;
}
#resource-monitor .core .key {
    font-weight: bold;
    width: 60px;
}
#resource-monitor .core .progress {
    flex-grow: 1;
}

#resource-monitor .intf > * {
    display: inline-block;
    width: 150px;
}

#resource-monitor .intf > strong {
    width: 80px;
}

#resource-monitor .mnt {
    display: flex;
}

#resource-monitor .mnt .key {
    font-weight: bold;
    width: 60px;
}
#resource-monitor .mnt .progress {
    flex-grow: 1;
}

#resource-monitor .progress {
    position: relative;
    border: 1px solid white;

    margin: 1px;
    height: 24px;

    font-weight: bold;
}

#resource-monitor .progress .bar {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width: 0;

    overflow: hidden;
    padding: 2px 4px;
}

#resource-monitor .progress .bar .value {
    color: black;
}

#resource-monitor .progress .value {
    position: absolute;
    top:0;
    bottom:0;
    left:0;

    padding: 2px 4px;
}
