{{ define "resource" }}
    {{ include "components/resource-monitor" }}
{{ end }}

{{ define "content" }}
    <link rel="stylesheet" href="/assets/js/lib/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/assets/js/lib/codemirror/theme/darcula.css" />
    <script src="/assets/js/lib/codemirror/lib/codemirror.js"></script>

    <div class="container content d-flex justify-content-center">
        {{ range $key, $app := .apps }}
            <div 
                class="card server" 
                data-key="{{ $key }}" 
                data-config="{{ json $app.ConfigFiles }}"
                data-logs="{{ json $app.LogFiles }}"
            >
                <div class="card-header">
                    {{ $app.Title }}
                    <a href="javascript:void(0);" class="refresh">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                        </svg>
                    </a>
                </div>

                <div class="card-body">
                    <div class="appHeader">
                        <div class="dataContainer clearfix">
                            <div class="dataTile">
                                <div class="label">Status:</div>  
                                <div class="data status">UNKNOWN</div>
                            </div>
                            <div class="dataTile">
                                <div class="label">Players:</div>
                                <div class="data players">
                                    <span class="current">-1</span>/<span class="max">-1</span>
                                </div>
                            </div>  
                            <div class="dataTile">
                                <div class="label">Uptime:</div>  
                                <div class="data uptime">-1</div>
                            </div>
                        </div>
                        <div class="icon">
                            <img class="icon" src="{{ $app.Icon }}">
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert" style="padding: 5px 10px;">
                        {{ $app.Description }}
                    </div>
                    <div class="btn-group-vertical w-100">
                        <button type="button" class="btn btn-outline-secondary startStop">Stop</button>
                        <button type="button" class="btn btn-outline-secondary restart" disabled>Restart</button>
                        <button type="button" class="btn btn-outline-secondary config" disabled>Config</button>
                        <button type="button" class="btn btn-outline-secondary logs" disabled>Logs</button>
                        {{ if $app.Tty.Command.Command }}
                            <button type="button" class="btn btn-outline-secondary tty" 
                                {{ if not $app.Tty }}disabled{{ end }}>Shell</button>
                        {{ end }}
                        <button type="button" class="btn btn-outline-secondary download" 
                            {{ if not $app.WorldDirectory }}disabled{{ end }}>Download World</button>
                    </div>
                </div>
            </div>
            <script type="module">
                import AppConfig from '/assets/js/app-config.js';
                import AppControls from '/assets/js/app-controls.js';
                import AppTTY from '/assets/js/app-tty.js';

                const appKey = '{{ $key }}';
                console.log(appKey)

                new AppConfig('{{ $app.Title }}', appKey);
                new AppControls(appKey);
                {{ if and $.user.Root $app.Tty.Command.Command }}
                    new AppTTY('{{ $app.Title }}', appKey, {{ $app.Tty.LineByLine }});
                {{ end }}
            </script>

            <script>update_css()</script>
        {{ end }}

        <div class="clearfix"></div>
    </div>
{{ end }}
