{{ define "content" }}
<div class="container content">
    <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form action="" method="post">
                {{ if .error }}
                    <div class="alert-error">{{ .error }}</div>
                {{ end }}

                <div class="mb-3">
                    <label class="form-label" for="username">Username:</label>
                    <input class="form-control" name="username" id="username" type="text" value="{{ .input.Username }}" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="passwd">Password:</label>
                    <input class="form-control" name="passwd" id="passwd" type="password" value="" />
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-secondary" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module">
    import Modal from '/assets/js/components/modal.js';
    new Modal({
        title: "test",
        content: "this is a test"
    });
</script>
{{ end }}
