{{ define "pages/users.create.html" }}
    {{ template "partials/header.html" . }}

    <div class="bodyTitle">Create User</div>
    <div class="body">
        <form action="" method="post">
            {{ if .errorString }}
                <div class="error">{{ .errorString }}</div>
            {{ end }}

            <div>
                <label for="username">Username:</label>
                <input name="username" id="username" value="{{ .input.Username }}" />
            </div>
            <div>
                <label for="passwd">Password:</label>
                <input name="passwd" id="passwd" type="password" value="" />
            </div>
            <div>
                <input type="submit" value="Create User" />
            </div>
        </form>
    </div>

    {{ template "partials/footer.html" . }}
{{ end }}
