{{ define "pages/users.password.html" }}
    {{ template "partials/header.html" . }}

    <div class="bodyTitle">Update User Password ({{ .subject.Name }})</div>
    <div class="body">
        <form action="" method="post">
            {{ if .errorString }}
                <div class="error">{{ .errorString }}</div>
            {{ end }}

            <div>
                <label for="passwd">Password:</label>
                <input name="passwd" id="passwd" type="password" value="" />
            </div>
            <div>
                <label for="passwd">Verify Password:</label>
                <input name="verify" id="passwd" type="password" value="" />
            </div>
            <div>
                <input type="submit" value="Update Password" />
            </div>
        </form>
    </div>

    {{ template "partials/footer.html" . }}
{{ end }}
