{{ define "content" }}
<div class="body">
    <div class="bodyTitle">&gt; Create User</div>
    <form action="" method="post">
        {{ if .errorString }}
            <div class="error">{{ .errorString }}</div>
        {{ end }}

        <div class="field">
            <label for="username">Username:</label>
            <input name="username" id="username" value="{{ .input.Username }}" />
        </div>
        <div class="field">
            <label for="passwd">Password:</label>
            <input name="passwd" id="passwd" type="password" value="" />
        </div>
        <div class="group">
            <input type="submit" value="Create User" />
        </div>
    </form>
</div>
{{ end }}
