{{ define "content" }}
<div class="bodyTitle">Update User ({{ .subject.Name }})</div>
<div class="body">
    <form action="" method="post">
        {{ if .errorString }}
            <div class="error">{{ .errorString }}</div>
        {{ end }}

        <div>
            <label for="username">Username:</label>
            <input name="username" id="username" value="{{ or .input.Username .subject.Name }}" />
        </div>
        <div>
            <label for="passwd">Password: (optional) </label>
            <input name="passwd" id="passwd" type="password" value="" />
        </div>
        <div>
            <input type="submit" value="Update User" />
        </div>
    </form>
</div>
{{ end }}
